 /*
 Author: Phan Tri Dung
 Date: 08/03/2022
 File Name: styles.css
 */

 /* CSS Reset */
body, header, nav, main, footer, img, h1 {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Style rule for images */
img {
  max-width: 100%;
  display: block;
}

/* Style rule for avartar */
.avatar {
  background-color: #626269;
  text-align: center;
}
.avatar img {
  border: 10px solid #000000;
  margin: auto;
  border-radius: 50%;
}
.avatar h2 {
  font-size: 35px;
  padding-bottom: 15px;
}

/* Style rule for Info */
.info {
  border: 5px solid #6f6f72;
  background-color: #bdbdc4;
}
.info .des {
  padding: 10px;
}

/* Style rule for table */
table {
  width: 100%;
}
table caption {
  font-size: 35px;
  font-weight: bold;
  padding: 20px;
}
table, th, td {
  border: 3px solid #23a6d5;
}

/* Style rules for header content */
header {
  text-align: center;
  font-size: 3em;
  color: #090929;
}

header h1 {
  font-family: 'Sansita Swashed', cursive;
  font-style: italic;
}

/* Style rules for navigation area */
nav {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);;
}

nav ul {
  list-style-type: none;
  margin: 0;
  text-align: center;
}

nav li {
  display: inline-block;
  font-size: 2em;
}

nav li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 0.5em 1em;
  text-decoration: none;
}

/* Style rules for main content */
main {
  padding: 2%;
  background-color: #e5e9fc;
  overflow: auto;
  font-family: Verdana, Arial, sans-serif;
}

main p {
  font-size: 1.25em;
}

.action {
  font-size: 1.75em;
  color: #373684;
  font-weight: bold;
}

section figure {
  width: 29%;
  float: left;
  margin: 0 2%;
}

section figure img {
  border: #131091;
  border-style: solid;
}

section figure img:hover {
  transform: scale(1.15)
}
